.actualWeather {
  width: 60%;
  margin: 30px auto;
  padding: 30px 30px;
  color: #fff;
  background-color: #15003b;
  border-radius: 15px;
}

.center {
  text-align: center;
}

.grip {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.columns {
  display: flex;
  gap: 18px;
  align-items: center;
}
